.blogSearchContainer {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    width: 90vw;
    height: 90vh;
    background-color: green;
}

.searchBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 70vw;
    background-color: hotpink;
}

.searchText {
    font-family: Itim;
    font-weight: bolder;
    font-size: 1.4rem;
}
.searchInput {
    background-color: white;
    color: #000;
    height: 50%;
    width: 35%;
    border-radius: 1.5rem;
    margin-left: 3vw;
    padding-left: 6vw;
}

.newBlogButton{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: lightblue;
    border-radius: 1rem;
    margin-left: 3vw;
    margin-right: -2vw;
    height: 3vh;
    padding: 0.75vw;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.controls{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: gray;
}

.tileZone {
    display: flex;
    align-self: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 70vw;
    background-color: pink;
}

.arrowWrapperRight{
    display: flex;
    align-items: center;
    justify-items: center;
    border-radius: 4vw;
    width: 5vw;
    height: 5vw;
    background-color: white;
    /* margin-top: 10vh; */
    margin-left: 1vw;
}

.arrowWrapperLeft{
    scale:  -1;
    display: flex;
    align-items: center;
    justify-items: center;
    border-radius: 4vw;
    width: 5vw;
    height: 5vw;
    background-color: white;
    /* margin-top: 10vh; */
    margin-right: 1vw;
}