.blogSearchContainer {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    width: 90vw;
    height: 90vh;
    background-color: green;
}

.searchBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80vw;
    background-color: hotpink;
}

.searchText {
    font-family: Itim;
    font-weight: bolder;
    font-size: 1.4rem;
}
.searchInput {
    background-color: white;
    color: #000;
    height: 50%;
    width: 35%;
    border-radius: 1.5rem;
    margin-left: 3vw;
    padding-left: 6vw;
}


.tileZone {
    display: flex;
    align-self: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 80vw;
    background-color: pink;
}
