.tile {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 10vh;
    /* width: 10vw; */
    padding: 1em;
    justify-content: flex-start;
    background-color: white;
    border-radius: 1rem;
    margin: 1vw;
    cursor: pointer;
}

.tileTopRow {
    display: flex;
    flex-direction: column;

}

.tileText {
    margin-top: -1vh;
    font-size: 1.5vw;
    max-width: 16vw;
    font-weight: bold;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
