body {
  overflow-y: hidden;
}

.mainContainer {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: powderblue;
}

.newBlog {
  height: 80vh;
  width: 80vw;
  background-color: lightskyblue;
  border: 0.25vw solid lightgray;
  position: absolute;
  top: 100vh;
  left: 10vw;
  border-radius: 1rem;
}

.viewBlog {
  height: 80vh;
  width: 80vw;
  background-color: lightskyblue;
  border: 0.25vw solid lightgray;
  position: absolute;
  top: 100vh;
  left: 10vw;
  border-radius: 1rem;
}

.successModal{
  height: 40vh;
  width: 50vw;
  background-color: lightskyblue;
  border: 0.25vw solid lightgray;
  position: absolute;
  top: 100vh;
  left: 25vw;
  border-radius: 1rem;
}

