
.modalBodyContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 76vw;
    height: 76vh;
    margin-left: 2vw;
    margin-top: 2vh;
    background-color: green;
    overflow-y: scroll;
}

.modalBodyContainerCreate{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 76vw;
    height: 76vh;
    margin-left: 2vw;
    margin-top: 2vh;
    background-color: mediumblue;
}


.topLineBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width:  100%;
    margin-left: 3.7vw;
    /* background-color: blueviolet; */
}

.headerText{
    /* background-color: brown; */
    
    margin-top: 4vh;
    width: 45vw;
    margin-left: 6vw;
    font-size: 4vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

.headerTextCreate{
    /* background-color: brown; */
    margin-top: -5vh;
    padding-top: 1.5vh;
    width: 45vw;
    margin-left: -22vw;
    font-size: 4vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

.headerTextShow{
    /* background-color: brown; */
    z-index: 10;
    width: 30vw;
    margin-left: -43vw;
    font-size: 4vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

.deleteBlogButton {
    position: relative;
    margin-left: -1vw;
    /* margin-top: 3.5vh; */
    width: 10vw;
    height: 2vh;
    z-index: 10;
    cursor: pointer;
}

.deleteText{
    font-size: 2vw;
}

.blogContentText{
    margin-left: 6vw;
    margin-top: 3vh;
    font-size: 2vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    overflow: hidden;
    z-index: 20;
}

.xBtn {
    background-color: pink;
    display: flex;
    align-items: center;
    justify-items: center;
    border-radius: 4vw;
    width: 5vw;
    height: 5vw;
    /* margin-top: -150%; */
    position: absolute;
    top: 3vh;
    left: 71vw;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.xBtn2 {
    background-color: pink;
    display: flex;
    align-items: center;
    justify-items: center;
    border-radius: 4vw;
    width: 5vw;
    height: 5vw;
    position: absolute;
    top: 3vh;
    left: 70vw;
    color: #000;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.topSection{
    width: 100%;
    height: 100%;
    margin-top: 12%;
    /* background-color: blueviolet; */
}

.lowSection {
    display: flex;
    flex-direction: column;
    align-self: start;
    width: 50vw;
    height: 115%;
    background-color: blue;
}

.tileText2 {
    font-size: 2.5vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
    width: 90%;
    margin-left: 5%;
    margin-top: 20%;
    /* background-color: brown ; */
    height: 5%;
}

.tileZone2 {
    /* display: flex; */
    /* align-items: center; */
    margin-top: 10%;
    height: 115%;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    overflow: hidden;
    /* background-color: pink; */
    /* margin-top: -4vh; */
}

.midSection{
    display: flex;
    flex-direction: row;
    margin-top: 1vh;
    width: 100%;
    height: 50vh;
    /* background-color: green; */
}

.leftSide {
    width: 50%;
    margin-top: -8%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: greenyellow; */

}

.rightSide{
    width: 50%;

}

.inputHodler {
    margin-top: 5vh;
    margin-left: 130px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    margin-top: 5vh;
    margin-left: 5vw;
    height: 100%;
    width: 100%;
    /* background-color: green; */
}

.inputContainer2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
    /* margin-left: 9vw; */
    margin-top: 0vh;
    margin-left: 0vh;
    height: 100%;
    width: 100%;
    /* background-color: lightslategray; */
}

.inputContainer3 {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    /* padding-left: 140px; */
    margin-top: 0vh;
    /* margin-bottom: -2vh; */
    height: 100%;
    width: 100%;
    /* background-color: lightslategray; */
}

.searchInput2{
    background-color: white;
    color: #000;
    border-radius: 1rem;
    width: 26vw;
    height: 40px;
    max-height: 40px;
    padding-left: 5%;
    /* margin-left: 10%; */
}

.searchInput3{
    background-color: white;
    color: #000;
    border-radius: 1rem;
    width: 26vw;
    height: 40px;
    max-height: 40px;
    padding-left: 5%;
    margin-left: 10%;
}



.inputContainerContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100%;
}

.formLabels {
    font-size: 3vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    /* margin-right: 15vw; */
    margin-bottom: -1vh;
    padding-bottom: 2vh;
    /* background-color: greenyellow; */
}

.formLabels1 {
    font-size: 3vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    margin-left: 12vw;
}

.formLabels2 {
    font-size: 3vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

.searchInputContent {
    width: 80%;
    min-height: 30px;
    height: 100%;
    background-color: white;
    color: #000;
    border-radius: 1rem;
    padding-top: 1vw;
    padding-left: 2vw;
    margin-top: -2vh;  
}

.submitSection {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    margin-top: 5vh;
    /* background-color: pink; */
}

.submitBtn {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      background-color: green;
      width: 15vw;
      height: 5vh;
      font-size: 2vw;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      border-radius: 1rem;
      box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
      cursor: pointer;
}

.cancelBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: maroon;
    width: 15vw;
    height: 5vh;
    font-size: 2vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    border-radius: 1rem;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.pickie {
    display: flex;
    width: 70%;
    height: 20vh;
    margin-top: -2vh;
    margin-left: 20%;
    border-radius: 15px;
    border: lightblue 1px solid;
}

.picHolder {
    align-items: center;
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
} 