
.topLineBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 25vh;
}

.deleteButtonBox {
    margin-right: 2vw;
}

.blogContentText{
    margin-left: 6vw;
    margin-top: 3vh;
    font-size: 2vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    overflow: hidden;
    z-index: 20;
}

.topSection{
    width: 100%;
    height: 100%;
    margin-top: 0%;
}

.lowSection {
    display: flex;
    flex-direction: column;
    align-self: start;
    width: 25vw;
    height: 115%;
    background-color: blue;
}

.otherLikes {
    font-size: 2vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
    width: 90%;
    margin-left: 5%;
    margin-top: 50%;
    height: 5%;
}

.tileZone2 {
    margin-top: 10%;
    height: 115%;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    overflow: hidden;
}

.midSection{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: -2vh;
    width: 100%;
    height: 50vh;
}

.leftSide {
    width: 50%;
    margin-left: 1%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.rightSide{
    margin-right: 8vw;
    width: 50%;
}


.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    margin-left: 5vw;
    height: 100%;
    width: 100%;
}

.searchInput{
    background-color: white;
    color: #000;
    border-radius: 1rem;
    width: 20vw;
    height: 40px;
    max-height: 40px;
    margin-top: 1vh;
    margin-left: -1vw;
}

.inputContent {
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100%;
}
.inputTitle {
    width: 25vw;
}

.inputImage {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 25vw;
    margin-top: 0vh;
    height: 40px;
}

.formLabel {
    font-size: 3vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    margin-bottom: 0vh;

}

/* .image {
   z-index: 1;
} */

.content {
   margin-bottom: 1vh; 
}



.searchInputContent {
    width: 80%;
    min-height: 30px;
    height: 100%;
    background-color: white;
    color: #000;
    border-radius: 1rem;
    padding-top: 1vw;
    padding-left: 2vw;
    margin-top: 0.5vh;  
}

.createForm {
    margin-top: 5vh;
}